*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color:hsl(309, 19%, 41%); */
    background-color: rgba(227, 230, 51, 0.842);
    display: flex;
    

}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}
#part2{
    height: 100%;
    width: 68%;
    background-color: rgb(47, 0, 255);
    background-image:url(flower.jpg);
    background-size: cover;
    background-position: center;

    
}
#overlay{
    height: 100%;
    width: 100%;
    /* background-color: hsla(309, 19%, 41%, 0.616); */
    background-color: rgba(236, 233, 42, 0.205);
}
#part3{
    height: 100%;
    width: 7%;
    /* background-color: rgb(0, 255, 64); */
}

#text-div{
    height: 300px;
    position: absolute;
    width: 400px;
    
    left:5%;
    top: 50%;
    transform: translate(0,-50%);
}
#text-div>h1{
    font-size:92px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 860;
    letter-spacing: 8px;
    line-height: 78px;
    color: white;
    text-transform: uppercase;
}
#small-img{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(flower-small.jpeg);
    background-size: cover;
    background-position: center;
    position:absolute;
    top:50%;
    right: 5%;
    transform: translate(0,-50%);
}
#vertical-text{
    position: absolute;
    right: -54%;
    top: -6%;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    
}
#vertical-text h1{
    font-size:70px;
    font-weight: 900;
    color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    -webkit-text-stroke-width:2px;
    letter-spacing: 15px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: 6px;

}

#nav{
    position:absolute;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left:7%;
    top:5%;
    color: #fff;

}

#nav img{
    height: 60px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;

}